#container {
    padding: 4rem 2rem 2rem 2rem;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: rgb(42, 95, 72);
    margin-bottom: 2rem;
}

.lbl {
    font-weight: bold;
    color: rgb(14, 14, 14);
}

p {
    color: rgb(42, 95, 72);
}

.btn {
    height: 3.5rem;
    padding: 1rem;
    border-radius: 5px;
    width: 100%;
    margin-top: 2rem;
    font-size: 1.1rem;
}
  
.primary {
background-color: #337357;
color: whitesmoke;
}