<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Create Your Reservation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Create Your Reservation</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>Vinh's Car Rental Form</h1>
    <div class="error-group" *ngIf="error === true">
      <p>Please fix these issues with your form:</p>
      <ul *ngFor="let errMsg of errMsgList">
        <li>{{errMsg}}</li>
      </ul>
    </div>

    <div class="field-group">
      <label for="car">What type of car?</label>
      <select id="car" required [(ngModel)]="vehicleType">
        <option disabled value="default" selected>Select a vehicle type</option>
        <option *ngFor="let car of cars" [value]="car">{{car}}</option>
      </select>
    </div>
    
    <div class="field-group">
      <label for="reservation-date">Enter the reservation date</label>
      <input type="date" id="reservation-date" [(ngModel)]="reservationDate"/>
    </div>
    <div class="field-group">
      <label for="rental-hours">Enter the number of hours:</label>
      <input type="number" id="rental-hours" [(ngModel)]="rentalHours"/>
    </div>
    <div>
      <ion-checkbox labelPlacement="start" [(ngModel)]="carSeat">
        <label>Do you need a car seat? </label>
      </ion-checkbox>
    </div>
    <div class="btn-group">
      <button (click)="btnSubmit()" class="btn primary">RESERVE</button>
      <button (click)="btnReset()"  class="btn default">RESET</button>
    </div>
  </div>
</ion-content>
